
.coandco-image-input-field {
  height: 10rem;
  margin-top: 1rem;
  background-color: #DDDDDD;
}

.coandco-image-input-background>div>i {
  display: block;
  color: #979797;
  font-size: 48px;
}

.coandco-image-input-file-btn {
  width: 0;
  height: 0;
}

.coandco-image-input-btn {
  font-size: 11px !important;
  color: #979797 !important;
  background-color: #FFF !important;
  border: 1px solid #979797 !important;
}

.coandco-image-input-btn>i {
  color: #979797;
  margin-right: 0.25rem;
}
