img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.coandco-btn {
  width: 10rem;
  background-color: #2A2A2A !important;
  border-radius: 69px !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  color: #FFF !important;
  margin: 0.25rem !important;
}

.coandco-btn>i {
  margin-right: 0.25rem;
}

.coandco-btn-inverted {
  width: 10rem;
  background-color: #FFF !important;
  border: 1px solid #979797 !important;
  border-radius: 69px !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  color: #2A2A2A !important;
}
