.ui.selection.dropdown {
  width: 100%;
  border-radius: 0;
  background-color: #FAFAFA;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
}

.coandco-btn-inverted {
  font-weight: 600;
  color: #000000 !important;
  background-color: #FFF !important;
  border: 1px solid #979797 !important;
}

.coandco-btn-inverted>i {
  margin-right: 0.5rem;
}

.coandco-form-section-line {
  width: 100%;
}

.react-datepicker-wrapper>.react-datepicker__input-container>input {
  border: 1px solid rgba(34,36,38,.15);
}

.react-autosuggest__suggestions-list {
  padding-left: 0;
  margin-top: 0;
  max-height: 20em;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  width: 97%;
  z-index: 1000;
  background-color: #FFF;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5) !important;
}

.react-autosuggest__suggestions-list>li {
  padding: 0.5em;
  border: 1px solid #ECECEC;
  border-top: none;
  list-style-type: none;
}

.react-autosuggest__suggestions-list>li:hover {
  padding: 0.5em;
  border: 1px solid #ECECEC;
  background-color: #ECECEC;
  font-weight: 600;
  border-top: none;
  list-style-type: none;
}

input.react-autosuggest__input {
  width: 100% !important;
  color: #2A2A2A !important;
  border-radius: 0 !important;
  background-color: #FAFAFA !important;
  border: 1px solid rgba(34,36,38,.15) !important;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5) !important;
  padding: .3em 1em;
}

div.ui.grid.coandco-post-form-container {
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 #979797;
}

.coandco-post-btn {
  color: #FFF;
  width: 100%;
  font-size: 12px;
  background-color: #2A2A2A;
}

.coandco-post-form-header {
  color: #000000;
  padding: 2rem;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.form-section-title {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
