.dashboard-search>.react-autosuggest__container>input {
  outline: none !important;
  color: #FFFFFF !important;
  font-size: 18px !important;
  box-shadow: none !important;
  font-weight: 600 !important;
  border-top: none !important;
  border-left: none !important;
  text-align: center !important;
  border-right: none !important;
  border-bottom: none !important;
  background-color: #2A2A2A !important;
}

.dashboard-search>.react-autosuggest__container>input.react-autosuggest__input {
  padding: .3em 1em;
  border: 0 !important;
  width: 100% !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.dashboard-search>.react-autosuggest__container>div>.react-autosuggest__suggestions-list {
  z-index: 1000;
  margin-top: 0;
  padding-left: 0;
  max-height: 20em;
  margin-left: -1em;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  width: 100% !important;
  color: #FFF !important;
  text-align: left !important;
  box-shadow: none !important;
  background-color: #2A2A2A !important;
  border: 1px solid #2A2A2A !important;
}

.dashboard-search>.react-autosuggest__container>div>.react-autosuggest__suggestions-list::-webkit-scrollbar-thumb {
  background-color: #FFF;
}

.dashboard-search>.react-autosuggest__container>div>.react-autosuggest__suggestions-list>li {
  border-top: none;
  list-style-type: none;
  padding: 0.5em !important;
  border: 1px solid #2A2A2A !important;
  box-shadow: inset 0 0px 0px 0 #000 !important;
}

.dashboard-search>.react-autosuggest__container>div>.react-autosuggest__suggestions-list>li:hover {
  padding: 0.5em;
  font-weight: 600;
  border-top: none;
  list-style-type: none;
  color: #000 !important;
  background-color: #ECECEC !important;
  border: 1px solid #2A2A2A !important;
}

.dashboard-btn-follow-topic {
  width: 10rem;
  margin-right: 3rem !important;
  margin-bottom: 1rem !important;
  border-radius: 69px !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  border: 1px solid #979797 !important;
  background-color: #FFFFFF !important;
}

.dashboard-item-type-btn {
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
  text-transform: uppercase !important;
	font-size: 14px !important;
  font-weight: 300 !important;
	border: 0.5px solid #979797 !important;
  background-color: #FFFFFF !important;
  color: #000105;
}

.dashboard-item-type-btn.active {
  background-color: #DEDEDE !important;
  border-bottom: none !important;
  color: #000000;
}

.dashboard-filter-controls>div {
  position: sticky;
  position: -webkit-sticky;
  top: 2em;
}
